*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

# Generados localmente (no commitear)
*.apk
*.aab
*.keystore

# Android Studio
.idea/
*.hprof